GOOGLE_API_KEY=""
GOOGLE_SEARCH_ENGINE_ID=""
GEMINI_API_KEY=""
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT="SOPForge-Dev"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
CHECKPOINTER_TYPE="memory"
POSTGRES_URL=""
API_HOST="0.0.0.0"
API_PORT="8000"
DEBUG="False"
