node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.replit
.local
.env
.venv
*.pyc*
*open_router*
*pg*
*data/gate_da/chromium_profile*
backup

*aiassistantuisplit*
frontend/live-audio
.gemini/
gha-creds-*.json

UPSC/
browser_data/
NCERT*
NCERTSlides/
prepup-upsc-question-generator
upsc-map-master
auth_server/data/Rajiv Ahir, Kalpana Rajaram - A Brief History of Modern India (2020, Spectrum) - libgen.li.pdf
