node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.replit
.local
.env
.venv
*.pyc*
*open_router*
*pg*
*data/gate_da/chromium_profile*
backup

*aiassistantuisplit*
frontend/live-audio
.gemini/
gha-creds-*.json
auth_server/tests/test.db
