fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic[email]
pytest
httpx
langchain-core
langgraph
langgraph-checkpoint-sqlite
langchain-google-genai
pydantic-settings
langchain
bcrypt==4.0.1
python-dotenv
itsdangerous
